  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}


/* global ---------------------*/
section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 10% ;
}


.bnr-t1  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width:100%;
}

.bnr-t2{
  display: flex;
  align-items: center;
  width:100%;
}

.half-width{
  width:65%;
}

.description{
  font-size: 13px;
  font-weight: 300;
}

.mrb-10{
  margin-bottom: 10px;
}

.mrb-20{
  margin-bottom: 20px;
}

.mrr-30{
  margin-right: 30px;
}

.btn-t1{
  background-color: #ff5959;
  border: none;
  color:white;
  padding: 8px 13px;
  border-radius: 4px;
  font-size: 12px;
}

.gray{
  color:gray;
}
.light-gray{
 color:  #CECECE;
}

/* global end-----------------*/

.other-amount{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  color: black;
  height: 20px;
}


#sc1{
  background-image: linear-gradient(to top,black,#00000000),url("./img/donation1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
  height: 450px;
}

#sc1 h1{
  font-size: 35px;
}

.amount-container{
  display: flex;
  gap:10px;
}
.amount {
  background-color: #F9F9F9;
  border: 2px solid #00000000;
  padding: 20px;
  color:#8D8D8D;
  width: 90px;
  font-weight: bold;
  border-radius: 5px;
  transition:.3s ease;
}
.amount:hover{
  background-color:#ffeeee;
  border: 2px solid #ff5959;
  color: #ff5959;
}

.small{
  font-size:10px;
}

.plan-cards{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.plan-card{
  width: 230px;
  padding: 40px 10px;
  text-align: left;
  border-radius:5px;
}
.pc-icon{
  width: 40px;
}

#card1{
  background-color: #EDF5F6;
}

#card2{
  background-color: #ffeeee;
}

#card3{
  background-color: #fff4d6;
}

.article{
  width:50%;
}

.article-img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.email-form{
  display: flex;
  justify-content: center;
  padding: 40px 80px;
  background-color: #fff4d6;
}

input[type=email]{
  background-color: #F9F9F9;
  border: none;
  height: 40px;
  padding: 10px;
  transition:.3s ease;
  border-radius: 4px 0 0 4px;
  }
  
input[type=email]:focus{
  outline: thin solid black;
}

input[type=submit]{
  border: none;
  height: 40px;
  padding: 10px 30px;
  transition:.3s ease;
  border-radius: 0 4px 4px 0;
  background-color: #Ff5959;
  color: white ;
}
.highlight {
  color: #ff5959;
  font-family: cursive;
  font-weight: bolder;
}
footer{
  min-height: 200px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px){
  section {
    padding: 5%;
  }
  .half-width {
    width: 80%;
  }
  #sc1{
    min-height: 100vh;
  }
  .amount-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .plan-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    justify-content: space-between;
    width: 100%;
  }
  .plan-card {
    width:80%;
    padding: 40px 10px;
    
  }
  .bnr-t2 {
   
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
 .article{
   width:90%;
   margin: 0;
 }
 .article-img {
   width: 80%;
   height:50%;
   margin: 0;
 }
 
 .email-form {
   padding: 40px 0;
   width: 100%;
 }
 .btn-t1 {
   padding: 10px 15px;
  }
 .article2{
   flex-direction: column-reverse;
 }
}
